{
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": 1,

    "@typescript-eslint/explicit-function-return-type": 0,
    "lines-between-class-members": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "spaced-comment": 0,
    "no-undef": 0,

    "no-var": 2,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "no-underscore-dangle": 0
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
